// imports
@import url(https://fonts.googleapis.com/css?family=Oswald);

// -- mixins -- //

// transition mixin
@mixin transitions($time, $type) {
	-webkit-transition: all $time $type;
	-moz-transition: all $time $type;
	-ms-transition: all $time $type;
	-o-transition: all $time $type;
	transition: all $time $type;
}

// animation mixin
@mixin animate-it($name, $duration, $timing, $delay, $iteration, $direction) {
	-webkit-animation: $name $duration $timing $delay $iteration $direction;
	animation: $name $duration $timing $delay $iteration $direction;
}

// -- end mixins -- //

// animation specific rules

@-webkit-keyframes enlarge {
	0% {font-size: 2.25em;}
	100% {font-size: 2.5em;}
}
@keyframes enlarge {
	0% {font-size: 2.25em;}
	100% {font-size: 2.5em;}
}

// html, body stylings
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
	color: #797979;
}

// navigation bar stylings
header.header-wrapper {
	height: 25vh;
	width: 100%;
	background-color: #fff;
}

// styling for the nav-brand
section.brand-wrapper {
	height: calc(100% - 50px);
	text-align: center;
	position: relative;
	border-bottom: 1px solid #ddd;
	text-transform: uppercase;

	> p.brand-text {
		width: 180px;
		position: absolute;
		top: 25%;
		left: 0;
		right: 0;
		margin: 0 auto;
		color: #997979;
		text-decoration: none;
		font-size: 2.25em;
		cursor: default;
		@include transitions(0.5s, ease-in-out);

		&:hover {
			color: #ca2017;
			font-size: 2.35em;
		}
	}

	p.tagline {
		position: absolute;
		font-size: 1.15em;
		top: 65%;
		left: 0;
		right: 0; 
	}
}

section.brand-wrapper.extended {
	height: 100%;
	border: none;
}

// stylings specifically for the main navigation
nav.top-nav {
	width: 100%;
	height: 50px;
	background-color: #fff;

	ul.main-links {
		width: 80%;
		padding: 0;
		margin: 0 auto;
		text-align: center;

		> li {
			display: inline-block;

			> a {
				text-transform: uppercase;
				line-height: 50px;
				padding: 0 10px;
				text-decoration: none;

				&:link, &:visited {
					color: inherit;
					text-decoration: none;
				}

				&:hover {
					color: #ca2017;
				}
			}
		}
	}
}

nav.top-nav.fixed-nav {
	position: fixed;
	z-index: 999;
	width: 100%;
	border-bottom: 1px solid #ddd;
	top: 0;
	box-shadow: 1px 2px 5px -4px black;
}

// stylings for the mobile menu
div.open-menu-btn {
	// this button is hidden when screen is not at mobile size
	display: none;

	.movable-icon-bar {
		display: block;
		width: 22px;
		height: 5px;
		background-color: #797979;
		border-radius: 1px;
	}
}


// styling for header bg image
section.bg-image {
	width: 100%;
	height: 65vh;
	background: 
		linear-gradient(
	      rgba(0, 0, 0, 0.35), 
	      rgba(0, 0, 0, 0.35)
	    ),
	    url('/assets/images/skyline.jpeg') center center no-repeat;

	background-size: cover;
	position: relative;
}

// main content


// about section stylings
div.about-section {
	text-align: center;
	padding: 30px 0;
	color: #797979;

	> h1 {
		color: #997979;
		margin: 0;
		letter-spacing: 0.1em;
	}

	hr.flaired-hr {
		width: 70%;
		height: 30px;
		border-style: solid;
		border-color: black;
		border-width: 1px 0 0 0;
		border-radius: 20px;
		margin-bottom: 0;

		&:before {
			display: block;
			content: "";
			height: 30px;
			margin-top: -31px;
			border-style: solid;
			border-color: black;
			border-width: 0 0 1px 0;
			border-radius: 20px;
		}
	}
}

// quote stylings
blockquote.about-quote {
	// fallback in case browser does not support vw
	font-size: 16px;
	font-size: 1.85vw;
	font-style: italic;
	margin: 0;
	border: none;
	padding: 0.25em 40px;
	line-height: 1.45;
	text-align: center;
}

blockquote.about-quote > cite {
	color: #997979;
	font-size: 0.8em;
	display: block;
	margin-top: 1em;

	&:before {
		content: "\2014 \2009";
	}
}

// about paragraph stylings
p.about-content {
	width: 69%;
	margin: 5% auto 0;
	font-size: 1.45em;
	text-align: justify;
}

// END OF NORMAL CSS //

// ------------------------ //
/*
	 M E D I A

			 Q U E R I E S
							*/
// ------------------------ //
@media only screen and (min-width: 320px) and (max-width: 480px) {
	// change text sizes to account for smaller screen
	html, body {
		font-size: 0.8em;
	}

	div.about-section > h1 {
		font-size: 2.3em;
	}

	blockquote.about-quote {
		font-size: 1.4em;
	}

	// change nav dimensions to account for opening/closing of mobile menu
	nav.top-nav {
		height: auto;
	}
	
	// stylings for mobile menu
	div.open-menu-btn {
		// this button is shown when screen is at mobile size
		display: block;
		width: 100%;
		height: 50px;
		cursor: pointer;

		.movable-icon-bar {
			height: 3px;
			position: relative;
			top: 30%;

			margin: 0 auto;
			@include transitions(0.3s, ease-in-out);

			&:not(:first-child) {
				margin-top: 5px;
			}
		}
	}

	// when menu is active
	div.open-menu-btn.active {

		.movable-icon-bar {
			top: 55%;
			background-color: #ca2017;
			transition: opacity 0.2s linear 0s,margin 0.2s linear 0s,transform 0.2s linear 0.2s;

			&:nth-child(1) {
				margin-top: -5px;
				transform: rotate(45deg);
			}

			&:nth-child(2) {
				margin-top: 0;
				opacity: 0;
			}

			&:nth-child(3) {
				margin-top: -6px;
				transform: rotate(-45deg);
			}
		}
	}

	// hide main links
	ul.main-links {
		display: none;
	}
}