<div class="row">
	<div class="col-xs-12 about-section">
		<h1>Getting started.</h1>
		<hr class="flaired-hr">
		<blockquote class="about-quote">
		&#8220; A reader lives a thousand lives before he dies. The man who never reads lives only one.&#8221;
		<cite class="quote-origin">George R.R. Martin</cite>
		</blockquote>
	</div>
</div>