<div class="row">
	<div class="col-xs-12 about-section" id="about">
		<h1 class="section-title">Getting started.</h1>
		<hr class="flaired-hr">
		<blockquote class="about-quote">
		&#8220; A reader lives a thousand lives before he dies. The man who never reads lives only one.&#8221;
		<cite class="quote-origin">George R.R. Martin</cite>
		</blockquote>
		<p class="about-content">If you're trying to find specific information about any sort of book then you, my friend, are in the right place. Here you will be able to search and receive data regarding the wondrous world of the written word. Adventure, Fantasy, Horror, it's all available for your searching pleasure.  Read some. It's good for your bones.</p>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 find-section" id="find">
		<h1 class="section-title">Find a book.</h1>
		<hr class="flaired-hr">
		<form {{action 'getBookInfo'}}>
			<div class="form-group">
				<label>Book Title:</label>
				{{input class="form-control smaller-input"}}
			</div>
			<div class="form-group">
				<button class="btn btn-success">Search</button>
			</div>
		</form>
	</div>
</div>