<header class="header-wrapper">
	<section class="brand-wrapper">
		<p class="brand-text">Search.b</p>
		<p class="tagline">Book Information</p>
	</section>
	<nav class="top-nav" role="navigation">
		<div class="open-menu-btn" role="button" {{action 'openMobileMenu'}}>
			<span class="movable-icon-bar"></span>
			<span class="movable-icon-bar"></span>
			<span class="movable-icon-bar"></span>
		</div>
		<ul class="main-links">
			<li>
				<a href="javascript: void(0)" {{action 'scrollToElement' "top"}}>Home</a>
			</li>
			<li>
				<a href="javascript: void(0)" {{action 'scrollToElement' "about"}}>About</a>
			</li>
			<li>
				<a href="javascript: void(0)" {{action 'scrollToElement' "find"}}>Find</a>
			</li>
			<li>
				<a href="javascript: void(0)">Contact</a>
			</li>
		</ul>
	</nav>
</header>